beautifulsoup4==4.4.1
flake8==2.4.0
Flask==0.10.1
Flask-HTTPAuth==2.4.0
genres==1.2.2
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mccabe==0.3
pep8==1.5.7
psycopg2==2.6.1
pyflakes==0.8.1
requests==2.5.1
SQLAlchemy==0.9.8
urllib3==1.10.2
Werkzeug==0.10.1
